{% extends "layout.html" %}
{% block content %}
<div class="hero-image">
    <img src="static/HERO.PNG">
    <div class="hero-text">
        <h1 style="color: white; font-size: 86px;">Oligonucleotide Finder</h1>
        <p style="font-size: 48px;">Lee Lab University of Pittsburgh</p>
    </div>
    <div style="background-color: #051f2c; padding-top: -200px;">
        <div class="row container-fluid" style="align-content: center;">
            <div class="col-md-6 text-center" style="align-content: center;">
                <p style="font-size: 48px; color: white;">Submit Your Sequence</p>
               
                    <a href="/submit" class="myButton">Submit</a><br>
 
            </div>
            <div class="col-md-6 text-center" style="align-content: center;">
                <p style="font-size: 48px; color: white;">Check Out The Source Code</p>
                <a href="https://www.github.com/amv69/BIOSC1640" class="myButton">Github</a> <br>
            </div>
        </div>
        <div class="row container-fluid" style="align-content: center;">
            <div class="col-md-6 text-center" style="align-content: center;">
                <p style="font-size: 48px; color: white;">About The Lab</p>
                <a href="https://mtleelab.pitt.edu/" class="myButton">About</a><br>
            </div>
            <div class="col-md-6 text-center" style="align-content: center;">
                <p style="font-size: 48px; color: white;">Cite Our Work</p>
                <a href="/cite" class="myButton">Cite</a> <br>
            </div>
        </div><br>
    </div>

    {% endblock content %}
