{% extends "layout.html" %}
{% block content %}
<div class="content=section">
    <form class="form" method="POST" action="">
        {{ form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Submit FastA</legend>
            <div class="form-group col-md-12 mb-4">
                {{ form.fastA.label(class_="form-control-label") }}
                {{ form.fastA(class="form-control-file", rows="4", id="fileToLoad") }}
                <p>Select a File to Load:</p> <input type="file" id="fileToLoad"> <button onclick="loadFileAsText()">Load Selected File</button>
            </div>
            <div class="row container-fluid">
                <div class="form-group col mb-6">
                    {{ form.lengthOne.label(class_="form-control-label") }}
                    {{ form.lengthOne(class="form-control") }}
                    <small class="text-muted">
                        Should not be smaller than X
                    </small><br>

                    {{ form.lengthTwo.label(class_="form-control-label") }}
                    {{ form.lengthTwo(class="form-control") }}
                    <small class="text-muted">
                        Should not be larger than X
                    </small><br>

                    {{ form.tempOne.label(class_="form-control-label") }}
                    {{ form.tempOne(class="form-control") }}
                    <small class="text-muted">
                        Should not be smaller than X
                    </small><br>

                    {{ form.tempTwo.label(class_="form-control-label") }}
                    {{ form.tempTwo(class="form-control") }}
                    <small class="text-muted">
                        Should not be larger than X
                    </small><br>
                    {{ form.maxTile.label(class_="form-control-label") }}
                    {{ form.maxTile(class="form-control") }}
                    <small class="text-muted">
                        Should not be smaller than X
                    </small>
                </div>
                <div class="form-group col mb-6">
                    {{ form.newSeq.label(class_="form-control-label") }}
                    {{ form.newSeq(class="form-control") }}
                    <small class="text-muted">
                        Sequence to Include or Mask (Can give sequence or coordinates)
                    </small><br>

                    {{ form.areaOne.label(class_="form-control-label") }}
                    {{ form.areaOne(class="form-control") }}
                    <small class="text-muted">
                        Should not be larger than X
                    </small><br>

                    {{ form.areaTwo.label(class_="form-control-label") }}
                    {{ form.areaTwo(class="form-control") }}
                    <small class="text-muted">
                        Should not be smaller than X
                    </small><br>
                    
                    {{ form.mask.label(class_="form-control-label") }}
                    {{ form.mask(class="form-control") }}
                    <small class="text-muted">
                        Leave None if not using
                    </small><br> 
                </div>

            </div>

        </fieldset>
        <div class="form-group col-md-6">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <p>Output:</p>

    <textarea class="form-control-file" rows="4" id="inputTextToSave">{{ output }} &#10;&#13;{{ output2 }}</textarea>
    <p>Name of File: <input id="inputFileNameToSaveAs">
        <button onclick="saveTextAsFile()">Save Output to File</button>
</div>
{% endblock content %}
