{% extends "layout.html" %}
{% block content %}
<div class="content=section">
    <form class="form" method="POST" action="">
    	{{ form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Submit FastA</legend>

            <div class="form-group col-md-12 mb-4">
                {{ form.fastA.label(class_="form-control-label") }}
                {{ form.fastA(class="form-control-file", rows="4", id="myTextArea") }}
                <input id="myFile" type="file"/>
            </div>
            <div class ="row" align="center">
                <div class="form-group col mb-4">
                    {{ form.lengthOne.label(class_="form-control-label") }}
                    {{ form.lengthOne(class="form-control") }}
                    <small class="text-muted">
                        Should not be smaller than X
                    </small>
                </div>
                <div class="form-group col mb-4">
                    {{ form.lengthTwo.label(class_="form-control-label") }}
                    {{ form.lengthTwo(class="form-control") }}
                    <small class="text-muted">
                        Should not be larger than X
                    </small>
                </div>
            </div>
            <div class="row" align="center">
                <div class="form-group col mb-4">
                    {{ form.tempOne.label(class_="form-control-label") }}
                    {{ form.tempOne(class="form-control") }}
                    <small class="text-muted">
                        Should not be smaller than X
                    </small>
                </div>
                <div class="form-group col mb-4">
                    {{ form.tempTwo.label(class_="form-control-label") }}
                    {{ form.tempTwo(class="form-control") }}
                    <small class="text-muted">
                        Should not be larger than X
                    </small>
                </div>
            </div>
            <div class="row" align="center">
                <div class="form-group col mb-4">
                    {{ form.maxTile.label(class_="form-control-label") }}
                    {{ form.maxTile(class="form-control") }}
                    <small class="text-muted">
                        Should not be smaller than X
                    </small>
                </div>
            </div>
        </fieldset>
        <div class="form-group col-md-6">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <p>Output:</p><br>

    <textarea class="form-control-file" rows="4" id="save">{{ output }} &#10;&#13;{{ output2 }}</textarea>
    <button type="button" value="save" id="save">Save</button>
</div>
{% endblock content %}

<script>
	var file = document.getElementById("myFile").files[0];
	var reader = new FileReader();
	reader.onload = function (e) {
    	var textArea = document.getElementById("myTextArea");
    	textArea.value = e.target.result;
};
reader.readAsText(file);

const fileDownloadButton = document.getElementById('save');
function localStorageToFile() {
    const csv = JSON.stringify(localStorage['autosave']);
    const csvAsBlob = new Blob([csv], {type: 'text/plain'});
    const fileNameToSaveAs = 'local-storage.txt';
    const downloadLink = document.getElementById('save');
    downloadLink.download = fileNameToSaveAs;
    if (window.URL !== null) {
        // Chrome allows the link to be clicked without actually adding it to the DOM
        downloadLink.href = window.URL.createObjectURL(csvAsBlob);
        downloadLink.target = `_blank`;
    } else {
        downloadLink.href = window.URL.createObjectURL(csvAsBlob);
        downloadLink.target = `_blank`;
        downloadLink.style.display = 'none';
        // add .download so works in Firefox desktop.
        document.body.appendChild(downloadLink.download);
    }
    downloadLink.click();
}
// file download button event listener
fileDownloadButton.addEventListener('click', localStorageToFile); 
</script>